.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    overflow: hidden;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    overflow: hidden;

    padding: 100px 0;
}

.cart-container {
    background-color: rgba(255, 153, 0, 1);
    height: 400px;
    width: 265px;
    position: fixed;
    right: 0;
    top: 20%;
    border-radius: 8px;
    padding: 10px 20px;
}

.cart-container h3 {
    color: #1C2B35;
    text-align: center;
    /* H5 */
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}