.product {
    width: 300px;
    height: 508px;
    margin: auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 8px;
    border-radius: 8px;
}

.product-details {
    margin: 12px 12px 0 12px;
}

.product-details h4 {
    color: #0E161A;
    margin: 0;
    /* H6 */
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
}

.product-details h6 {
    color: #0E161A;
    margin: 0;
    /* Subtitle 1 */
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.026px;
}

.product-details p {
    color: #2A414F;

    /* Caption */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.048px;
}

.cart-button {
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 48px;
    border-radius: 0px 0px 8px 8px;
    border: none;
    border-top: 1px solid #95A0A7;
    background: #FFE0B3;
    color: #0E161A;

    /* Button */
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.188px;
}

.cart-button:hover {
    background: rgb(184, 130, 30);
    color: #fff;
    cursor: pointer;
}

.cart-icon {
    margin-left: 10px;
}